$white-color: #fff;

$black-color: #000;

$dark-blue: #14213d;

$slightly-dark-blue: #003049;

$slightly-dark-blue-hover: 	hsl(201, 100%, 20%);

$slightly-light-blue: #073b4c;

$light-blue: #118ab2;

$light-blue-hover: hsl(195, 83%, 33%);

$red-color: #d62828;

$red-color-hover: 	hsl(0, 69%, 55%);

